
YOUR_DB_HOST=[Your_DB_HOST]
YOUR_DB_PORT=[Your_DB_PORT]
YOUR_DB_NAME=[Your_DB_NAME]
YOUR_DB_USER=[Your_DB_USER]
YOUR_DB_PASSWORD=[Your_DB_PASSWORD]

AIRFLOW_UID=[Airflow_UID]

# This is a list of additional requirements to be installed in the Airflow image
_PIP_ADDITIONAL_REQUIREMENTS=[Your_PIP_Additional_Requirements]